<div class="body">
  <nav class="navbar" [ngClass] = "sharedService.expandedSidebar ? 'toggled-nav' : 'untoggled-nav'">
    <ul class="navbar-nav">
      
      <li class="logo" >
        <div class="nav-link">
          <span class="link-text logo-text"
            [class.text-opacity]="toggled">
            SECTIONS
          </span>   
          
            <i
            (click)="toggle()"
              class="nav-link-logo fa expand-menu fa-secondary" 
              [class.toggled] = "sharedService.expandedSidebar"
              [class.untoggled] = "!sharedService.expandedSidebar"
              [ngClass] = "sharedService.expandedSidebar ? 'fa-arrow-left' : 'fa-bars'"
              aria-hidden="true">
            </i>
            
          </div>
      </li>

      <li *ngFor="let item of items" class="nav-item">
        <a [routerLink]="item.link" class="nav-link nv-hover">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" viewBox="0 0 16 16">
            <path *ngFor="let path of item.icon.paths" [attr.d]="path.d" [ngClass] = "path.class ? path.class : ''"  />
          </svg>
          <span class="link-text" [class.text-opacity]="toggled">{{item.title}}</span>
        </a>
      </li>


      
    </ul>
  </nav>

</div>