.body{
    font-size: 16px;
    font-family: 'Open Sans';
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
    --text-primary: #b6b6b6;
     --text-secondary: #ececec;
     --bg-primary: #23232e;
     --bg-secondary: #141418;
     --transition-speed: 500ms;
}

 .navbar{
    margin-top: 4rem;
    padding: 0px !important;
    position: fixed;
    background-color: var(--bg-primary); 
    transition: width 200ms ease;
}

.navbar-nav{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

 
.logo{
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-primary);
    font-size: 1.5rem;
    letter-spacing: 0.2ch;
    width: 100%;
    align-items: center;
}
.logo-text{
    padding-left: 0.5rem;
    font-size: 1rem;
}

.logo svg{
    transform: rotate(0deg);
    transition: transform var(--transition-speed);
}

.nav-item {
    width: 100%;
}
  
.nav-item:last-child {
    margin-top: auto;
    margin-bottom: 5rem;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 4rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}


.nv-hover:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
}

.link-text {
    display: none;
    margin-left: 1rem;

}

.nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
}

.expand-menu{
    cursor: pointer;
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
    position: fixed;
    /* padding:1rem; */
    
    
}

/* Big screen */
@media only screen and (min-width: 600px){
    
    .toggled-nav{
        width: 16rem !important;
    }
    .toggled-nav .link-text{
        display: block;
        opacity: 0;
    }
    
    .toggled-nav .expand-menu{
        margin-left: 13rem;
        transition: all 300ms;
    }
    
    
    .untoggled-nav{
        width: 5rem !important; 
    }
    .untoggled-nav .link-text{
        opacity: 0;
        display: none;
    }
    .untoggled-nav .expand-menu{
        margin-left: 1.5rem;
        transition: all 150ms;
    }
    
    
    .text-opacity{
        transition: all var(--transition-speed);
        opacity: 1 !important;
    }

}

/* Small screen */
@media only screen and (max-width: 600px){
 
    .navbar{
        bottom: 0;
        width: 100vw;
        height: 5rem;

    }
    .logo{
        display: none;
    }

    .navbar-nav{
        flex-direction: row;
    }
    .nav-link{
        justify-content: center;
    }

}

