<nav class="header">
  <ul class="header-list">
    <li class="header-item logo">
      <a class="nav-link">
        <span class="link-text logo-text"
          [class.text-opacity]="toggled">
          APP<span class="fa-secondary">NAME</span>
        </span>
      </a>
    </li>
<!-- 
    <li class="header-item header-r-item">
      <img class="profile-img" src="https://i.etsystatic.com/18719426/r/il/be13d8/1708009979/il_570xN.1708009979_9e9g.jpg" alt="">
    </li>

    <li class="header-item header-r-item">
      <form class="">
        <div class="input-group" id="search" data-target-input="nearest">
          <input type="text" class="form-control search-input" data-target="#search">
          <div class="input-group-append" data-target="#search">
              <a type="submit" class="input-group-text search-button"><i class="fa fa-search"></i></a>
          </div>
        </div>
      </form>
    </li> -->

       
  </ul>
  
</nav>