
body{
    font-size: 16px;
    font-family: 'Open Sans';
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
    --text-primary: #b6b6b6;
     --text-secondary: #ececec;
     --bg-primary: #23232e;
     --bg-secondary: #141418;
     --transition-speed: 400ms;
}

 


 

 
.fa-primary{
    color: #ff7eee;
}

.fa-secondary{
    color: #df49a6
}

.fa-primary,
.fa-secondary{
    transition: var(--transition-speed);
}





 
 
   /* Big screen */
   @media only screen and (min-width: 600px){

    body::-webkit-scrollbar{
        width: 0.4rem;
    }
    
    body::-webkit-scrollbar-track{
        background: #1e1e24;
    }
    
    body::-webkit-scrollbar-thumb{
        background: #6649b8;
    }

    main{
        margin-left: 5rem;
        padding: 1rem;
        padding-top: 4.5rem; /* If app-header */
    }
 
     .navbar{
         z-index: 1000 !important;
         top:0;
         width: 5rem;
         height: 100vh;
     }
 
   }
 
   /* Small screen */
   @media only screen and (max-width: 600px){
 
     main{
         margin: 0 !important;
         padding: 1rem;
     }
 
   }
    footer {
        position: fixed;
        bottom: 0px;
        left: 0px;
        width: 100%;
    }

    #chat-mensajes {
        height: 300px;
        border: 1px solid gray;
        border-radius: 5px;
        overflow-y: scroll;
    }

    .chat-input {
        margin-top: 10px;
    }
